@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}
:root {
    --color1: #d6d9e1;
    --color2: #15151d;
    --color3: #333A44;
    --color4: #9bcedb;
    --color5: #48a2c4;
    --color6: #6160a0;
    --color7: #303845;
    --color8: #45505b;
    --shadow: rgba(0, 0, 0, 0.400);
    --font1: 'Open Sans', 'Roboto', sans-serif;
    --font2: 'Poppins', 'Open Sans';
}
body {
    background-color: var(--color3);
    height: 100%;
    width: 100%;
    font-family: var(--font2);
    overflow-x: hidden;
}
a {
    color: var(--color1);
    text-decoration: none;
    font-family: var(--font1);
    font-weight: bold;
    /* padding: 10px; */
    /* margin: 20px; */
}
a.a {
    padding: 10px;
    margin: 20px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--color3);
    height: 7vh;
}
/*------------------MENU---------------------*/
.logo-menu {
    display: block;
    cursor: pointer;
    position: relative;
    left: 3vh;
}
.logo-menu div{
    width: 32px;
    height: 3px;
    background: var(--color1);
    margin: 6px;
}
ul > h2 {
    color: var(--color1);
    font-size: 1.4em;
    font-weight: normal;
    background: var(--color8);
    width: 100%;
    padding: 5px 0px;
    text-align: center;
}
.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    position: absolute;
    top: 7vh;
    height: 60vh;
    background: var(--color3);
    border-radius: 0px 0px 15px 0px;
    box-shadow: 2px 4px 6px var(--shadow);
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in;
}
.nav-list li {
    letter-spacing: 1.9px;
}
.nav-list.active {
    z-index: 1;
    transform: translateX(0);
}
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(-50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @media (min-width: 550px) {
        .logo-menu {
            position: absolute;
        }
    }
/*--------------------MENU-END---------------------*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    background-color: var(--color3);
}
.logo {
    margin: 0;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
}
search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: var(--color1);
    border-radius: 20px;
    width: 25vw;
    height: 4vh;
}
search img {
    width: 2vh;
    padding: 1vh 1vh 0vh 0vh;
}
#searchInput {
    font-family: var(--font2);
    background: none;
    width: 90%;
    box-sizing: border-box;
    padding-left: 1vh;
    margin: 1.5px;
    outline: none; 
    text-decoration: none;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color1);
    border-radius: 1vh;
    box-shadow: 0 2px 2px var(--shadow);
    position: absolute;
    top: 6.2vh;
    z-index: 1;
}
.card {
    width: 23vw;
    padding: 1vw;
    color: var(--color2);
    z-index: 1;
    font-size: 0.7em;
    margin-bottom: 0.5vh;
}
#search {
        display: flex;
        flex-direction: column;
        align-items: center;
}

    @media (max-width: 480px) {
        ul a {
            font-size: 80%;
            margin: 0px;
        }
        #searchInput {
            font-size: x-small;
        }
        .card {
            width: 28vw;
        }
    }
#login {
    background-image: linear-gradient(to bottom, #27b0d4, #2271b2);
    margin: 5px;
    padding: 5px 7px;
    border-radius: 20px;
    font-size: 0.9em;
    box-shadow: 0 0 4px var(--shadow);
}
#login:hover {
    background: var(--color5);
}
/*--------------------HEADER-END----------------------*/
.banner {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #9bcedb, #48a2c4, #6160a0);
    height: 40vh;
}
.banner h1 {
    color: var(--color1);
    position: relative;
    top: 10px;
    left: 40px;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.100);
}
.banner h2 {
    font: bold var(--font1);
    color: var(--color7);
    position: relative;
    top: 10px;
    left: 40px;
}
.banner-pc {
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.400));
    position: relative;
    right: 10%;
}
.shop-logo {
    height: auto;
    width: auto;
    position: relative;
    top: 10px;
    left: 40px;
}
    @media (max-width: 850px) {
        .banner-pc {
            max-height: 200px;
            right: 0px;
        }
        .shop-logo {
            height: 45px;
        }
        .banner h1 {
            font-size: 2em;
            margin-top: -10px;
        }
    }
    @media (max-width: 480px) {
        .logo-menu {
            left: 1vw;
        }
        .banner {
            height: 15vh;
        }
        .banner-pc {
            max-height: 100px;
        }
        .shop-logo {
            width: auto;
            max-height: 30px;
            left: 2vh;
        }
        .banner h1 {
            font-size: 1em;
            left: 2vh;
        }
        .banner h2 {
            height: 10px;
            font-size: 1em;
            left: 2vh;
        }
    }
    @media (min-width: 700px) {
        .banner h1 {
            font-size: 2.5em;
        }
    }
/*-------------------BANNER-END-----------------------*/
main {
    background-image: linear-gradient(to bottom, #c9cdd6, #b2b0bd);
    box-shadow: 0 1px 4px var(--shadow);
    border-radius: 2.5vh;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: -5vh;
}
/* container da pag de login */
main.container {
    background-image: linear-gradient(to bottom, #e2e3e6, #e6e4eb);
    box-shadow: 0 1px 1px var(--shadow);
    border-radius: 2.5vh;
    width: 80%;
    margin: 10px auto;
    position: relative;
    top: 1vh;
}
/* muda o titulo da pag de login */
h1#title {
    color: #232323;
    font-family: var(--font2);
    font-size: 1.5em;
    text-align: center;
}
form {
    padding: 4px 8px;
}
/* div com todos os produtos da tela */
#product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: baseline;
    padding: 2.5vw;
    gap: 5px;
}
#product img {
    background: #9298a068;
    border-radius: 1vh;
    padding: 2vw;
    margin: 2vw 2vw 0 2vw;
    width: 70%;
}
#product h3 {
    margin: auto;
    color: #15151d;
    font: var(--font1);
    width: 90%;
}
/* produto especifico */
.currentProduct {
    background-color: #dadada;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.200);
    border-radius: 1vw;
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.actions {
    display: flex;
    justify-content: space-evenly;
    margin: 1vw;
}
.actions p {
    font: 1em var(--font2);
    padding: bold 0.4em;
    color: #2271b2;
    margin-right: 1vw;
}
#product button {
    background-image: linear-gradient(to bottom, #27b0d4, #2271b2);
    color: var(--color1);
    margin: 0;
    padding: 5px 7px;
    border-radius: 20px;
    font: bold 0.9em var(--font2);
    cursor: pointer;
}
.input-box {
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 20px;
    box-shadow: 0 0 1px var(--shadow);
    margin: 10px;
    background: #dbdbdb;
    border: solid 1px #cbcbd0;
}
.input-box>input {
    background: transparent;
    font-size: 1.2em;
    padding: 5px 5%;
    outline: none;
    width: 100%;
}
    @media (max-width: 700px) {
        main {
            top: -1vh;
            border-radius: 2vw;
        }
        .actions {
            flex-direction: column;
            margin: 0 0 1em 0;
        }
        .actions p {
            margin-right: 0px;
        }
        #product {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .input-box, main.container{
            width: 60%;
            height: 100%;
            margin: 10px auto;
        }
    }
.ad {
    background-image: linear-gradient(to bottom, #5688b1, #377094, #3b466d);
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
}
.ad img {
    width: 40%;
    height: 30vh;
    object-fit: cover;
    position: relative;
    left: 1vw;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.300));
}
.sale {
    color: #d0fbff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    text-align: right;
    padding: 2vw;
}
.sale h2 {
    font: 0.7em;
    color: var(--color1);
}
#buy {
    background-color: var(--color2);
    border-radius: 20px;
    border: solid 2px rgb(18, 18, 20);
    padding: 5px;
}
    @media (max-width:750px) {
        .ad {
            height: 20vh;
        }
        .sale h1 {
            font-size: 1.1em;
        }
        .sale h2 {
            font-size: 0.9em;
        }
        .ad img {
            object-fit: contain;
            height: 20vh;
        }
    }
    @media (min-width: 750px) {
        .ad {
            height: 35vh;
        }
        .ad img {
            height: 35vh;
        }
    }